[submodule "containers/desktop/external/glfw"]
	path = containers/desktop/external/glfw
	url = https://github.com/solarmoff-afk/GLFW3.git
[submodule "containers/desktop/external/glad"]
	path = containers/desktop/external/glad
	url = https://github.com/solarmoff-afk/Glad-3.1
[submodule "containers/desktop/external/luajit"]
	path = containers/desktop/external/luajit
	url = https://github.com/solarmoff-afk/LuaJIT-fork.git
[submodule "containers/desktop/external/utf8"]
	path = containers/desktop/external/utf8
	url = https://github.com/solarmoff-afk/Lua53-utf8.git
